pytorch-lightning==1.5.10
aiohttp==3.7
aioredis==1.3.1
pydegensac==0.1.2
opencv_python==4.4.0.46
yacs>=0.1.8
einops==0.3.0
kornia==0.4.1
pickle5==0.0.11
timm>=0.3.2
hydra-core==1.1.1
omegaconf==2.1.2
pycocotools==2.0.4
wandb==0.12.17
rich==12.4.4
transforms3d==0.3.1
natsort==8.1.0